<h1>The Many Assets</h1>
<div class="jumbotron">
  <p>Kata: Loading many assets has as many problems as it has solutions. Bring the page load time down by taking advantage of several different solutions.</p>
  <p>Hint: Use transaction traces to see where it is spending time.</p>
</div>

<% @icons.each_with_index do |icon, index| -%>
  <%= ('<img width="16" height="16" src="data:image/jpg;base64,%s">' % Base64.encode64(icon.icon)).html_safe %>
  <% if (index + 1) % @num_high == 0 %>
    <br>
  <% end -%>
<% end %>
